.background {
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}

.comic {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 50;
  color: green
}

.blue {
  color: lightblue;
}